build-CyberSecurityPorject-Desktop_Qt_5_13_0_clang_64bit-Debug
CyberSecurityPorject.pro.user
mainwindow.ui.autosave
.DS_Store
/Users/supojen/Documents/fall semester 2019/CS1C/CyberSecurityProject/model/customerModel/CustomerModel/include
build-CustomerModel-Desktop_Qt_5_12_2_clang_64bit-Debug
CustomerModel.pro.user
WrongWay